{% extends 'base.html' %}
{% block title %} Content {% endblock %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    
    <div class="col">
       <div class="card h-100">
         <img src="https://www.themealdb.com/images/media/meals/ryppsv1511815505.jpg" class="card-img-top" alt="BeaverTails" />
         <div class="card-body">
           <h5 class="card-title">BeaverTails</h5>
           <p class="card-text">
             This is a longer card with supporting text below as a natural lead-in
             to additional content. This content is a little bit longer.
           </p>
         </div>
       </div>
     </div>

     <div class="col">
      <div class="card h-100">
        <img src="https://www.themealdb.com/images/media/meals/1550441882.jpg" class="card-img-top" alt="Breakfast Potatoes" />
        <div class="card-body">
          <h5 class="card-title">Breakfast Potatoes</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://www.themealdb.com/images/media/meals/wpputp1511812960.jpg" class="card-img-top" alt="Canadian Butter Tarts" />
        <div class="card-body">
          <h5 class="card-title">Canadian Butter Tarts</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="https://www.themealdb.com/images/media/meals/uttupv1511815050.jpg" class="card-img-top" alt="Montreal Smoked Meat" />
        <div class="card-body">
          <h5 class="card-title">Montreal Smoked Meat</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="https://www.themealdb.com/images/media/meals/vwuprt1511813703.jpg" class="card-img-top" alt="Nanaimo Bars" />
        <div class="card-body">
          <h5 class="card-title">Nanaimo Bars</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="https://www.themealdb.com/images/media/meals/yyrrxr1511816289.jpg" class="card-img-top" alt="Pate Chinois" />
        <div class="card-body">
          <h5 class="card-title">Pate Chinois</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="https://www.themealdb.com/images/media/meals/yqqqwu1511816912.jpg" class="card-img-top" alt="Pouding chomeur" />
        <div class="card-body">
          <h5 class="card-title">Pouding chomeur</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="https://www.themealdb.com/images/media/meals/uuyrrx1487327597.jpg" class="card-img-top" alt="Poutine" />
        <div class="card-body">
          <h5 class="card-title">Poutine</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="https://www.themealdb.com/images/media/meals/ruwpww1511817242.jpg" class="card-img-top" alt="Rappie Pie" />
        <div class="card-body">
          <h5 class="card-title">Rappie Pie</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="https://www.themealdb.com/images/media/meals/xxtsvx1511814083.jpg" class="card-img-top" alt="Split Pea Soup" />
        <div class="card-body">
          <h5 class="card-title">Split Pea Soup</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
   </div>
{% endblock %}